*{
	margin: 0;
	padding: 0;
}
body{
	background-color:#fff;
}
.container	{
	max-width: 1200px;
	margin: 0 auto;
}
.mgid--box{
	user-select: none;
    background: inherit;
    border-radius: 3px;
    /* border: 1px solid #999; */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    width: 550px;
    margin: 40px auto;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
}
.mgid--inner--block--3x3{
    border-radius: 7px;
    background: #fff;
    font-size: 30px;
    width: 32%;
    margin: 3px;
    color: #000;
    cursor: pointer;
    transition: all.2s ease;
    padding: 2px;
    border: 1px solid #ccc;
}
.mgid--inner--block--4x4{
    border-radius: 7px;
    background: #fff;
    font-size: 30px;
    width: 23%;
    margin: 3px;
    color: #000;
    cursor: pointer;
    transition: all.2s ease;
    padding: 2px;
    border: 1px solid #ccc;
}
.mgid--content--4x4{
    padding-top: 38px;
    width: 100%;
    height: 100px;
}

.mgid--content--3x3{
	padding-top: 55px;	
    width: 100%;
    height: 100px;
}
.alert-info{
	display: none;
}
.mgid--cell:hover{
	color:#fff;
	background:rgba(0,0,0,.8);
}
.state{
	display: none;
}